<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="{% if page.excerpt %}{{
      page.excerpt | strip_html | strip_newlines | truncate: 160
    }}{% else %}{{ site.description }}{% endif %}"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl
  }}">
  <link
    rel="canonical"
    href="{{ site.url }}{{ page.url | replace:'index.html',''}}"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/img/favicons/apple-touch-icon.png?v=2"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/img/favicons/favicon-32x32.png?v=2"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/img/favicons/favicon-16x16.png?v=2"
  />
  <link rel="manifest" href="/assets/img/favicons/site.webmanifest?v=2" />
  <link
    rel="mask-icon"
    href="/assets/img/favicons/safari-pinned-tab.svg?v=2"
    color="#0353a4"
  />
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <meta name="msapplication-TileColor" content="#fcfffc" />
  <meta
    name="msapplication-config"
    content="/assets/img/favicons/browserconfig.xml?v=2"
  />
  <meta name="theme-color" content="#fcfffc" />
  <title>
    {% if page.title %}{{ page.title | strip_html }} ~ {% endif %}{{ site.title
    }}
  </title>
</head>
