<header class="header">
  <a class="header__email" href="mailto:hello@victorbilgin.com"
    >hello@victorbilgin.com</a
  >
  <nav class="header__nav mt--100">
    <ul class="nav__list flex">
      <li>
        <img
          class="color-toggle"
          id="color-toggle"
          src="/assets/img/icons/sun.svg"
          alt="A sun icon"
          aria-label="Toggle color mode"
        />
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>
