---
# Main SCSS file
---

// Utilities
@import "./utilities/vars";
@import "./utilities/mixins";
@import "./utilities/reset";
@import "./utilities/base";
@import "./utilities/container";
@import "./utilities/utility-classes";
@import "./utilities/syntax-highlighting";

// Pages
@import "./pages/home";

// Layouts
@import "./layouts/post";
@import "./layouts/poem";

// Includes
@import "./includes/header";
@import "./includes/footer";
