.cta {
  // display: flex;
  flex-direction: column;

  input {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
  }
  
  input[type="submit"] {
    border: none;
    background: var(--clr-secondary);
    color: var(--clr-primary);
    border-radius: 8px;
    display: block;
    cursor: pointer;
    padding: 10px 15px;
  }
}